body {
  background-color: black;
}

th, td {
  width: 12px;
  height: 12px;
}

.genCounter, .gridSize {
  color: grey;
  font-style: bolder;
  margin: 10px;
}

.gridSizeBox {
  width: 30px;
}

[data-alive="true"] {
  background-color: lime;
}

[data-alive="false"] {
  background-color: grey;
}

[data-stepping="ON"] {
  color: green;
  font-weight: bolder;
}

[data-stepping="OFF"] {
  color: darkred;
  font-style: italic;
  font-weight: bold;
}
