body {
  background-color: black;
}

th, td {
  width: 16px;
  height: 16px;
}

.genCounter {
  color: grey;
  font-style: bolder;
}

[data-alive="true"] {
  background-color: lime;
}

[data-alive="false"] {
  background-color: grey;
}

[data-stepping="ON"] {
  color: green;
  font-weight: bolder;
}

[data-stepping="OFF"] {
  color: darkred;
  font-style: italic;
  font-weight: bold;
}
