th, td {
  border: 1px solid;
  border-collapse: collapse;
  width: 20px;
  height: 20px;
}

[data-alive="true"] {
  background-color: seagreen;
}

[data-alive="false"] {
  background-color: purple;
}
